@charset "UTF-8";
/* CSS Document */
body
{
background-color:green;
}
p
{
font-family:Arial;
font-size:12px;
}
h1
{
font-family:Arial;
}
h2
{
font-family:Arial;
}
h3
{
font-family:Arial;
}
h4
{
font-family:Arial;
}
h5
{
font-family:Arial;
}
h6
{
font-family:Arial;
}
